{% extends 'base.html' %}

{%block title%}
	Editar Sabias Que...
{% endblock %}

{%block content_aux%}
	<h5><b>Editar item</b></h5>
	{% if user.is_authenticated %}
		<form action="." method="POST" enctype = "multipart/form-data">
			
			{%csrf_token%}
			{{form.as_p}}
			<button class="btn waves-effect waves-light" type="submit" ><b>Guardar</b><i class="material-icons right">note_add</i></button>
			<button class="btn waves-effect waves-light" type="reset" ><b>Limpiar</b><i class="material-icons right">loop</i></button>
		</form>
	{% else %}
		<h5>Debes estar autenticado para poder editar un producto</h5>
	{% endif %}
{%endblock %}