@media only screen and (max-width: 992px) {
    .formulario {
       	display: none;

    	}
	}

@media only screen and (max-width: 600px) {
    .imagen {
       	display: none;

    	}
	}


.paginacion{
	background: #dc8130;
	color: #FFF;
	padding: 10px;
}

.altura{
   height: 15%;
  
}


