{%extends 'base.html' %}

{% block title %}
	Contactanos
{% endblock %}

{% block content_aux %}
		<h4 align="center">Contactanos</h4>
		<form action="." method="POST">
			{% csrf_token %}
			{{ form.as_p }}
			<div align="center">
				<button class="btn waves-effect waves-light" type="submit" ><b>Enviar</b><i class="material-icons right">email</i></button>
				<button class="btn waves-effect waves-light" type="reset" ><b>Limpiar</b><i class="material-icons right">loop</i></button>
			</div>
		 </form>
{% endblock %}


