{% extends 'base.html' %}

{% block title %}
	Inicio
{% endblock %}

{% block content %}
	

	{% for p in val %}

		<h4>Quienes somos</h4>
		{{p.somos}}
		<h4>Mision</h4>
		{{p.mision}}
		<h4>vision</h4>
		{{p.vision}}
		<br>
		<a href="/edit/valores/{{p.id}}">Editar</a>
	{% endfor %}


	<p>--------------------------------------------------------</p>
	<img src="/media/imagenes/logo.jpg" width="300px" height="250px">

	<form action="." method="POST">
		<h4>Contactanos</h4>
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Enviar">
		<input type="reset" value="Limpiar">
	</form>

{% endblock %}