{% extends 'base.html' %}
 
{% block title %}
		Inicio
{% endblock %}

{% block content %}
	<div class="row">
		<div class="slider ">
		    <ul class="slides z-depth-2">
		    	{% for p in sliders%}
			      	<li>
				        <img src="/media/{{p.imagen}}" style="background-image: url('/media/{{p.imagen}}')"> <!-- random image -->
				        <div class="caption left-align">
				          	<h3>{{p.titulo}}</h3>
				          	<h5 class="light grey-text text-lighten-3">{{p.texto}}</h5>
				        </div>
			      	</li>
		      	{% endfor%}
		    </ul>
		</div>
		{% if user.is_authenticated %}
			<a href="{% url 'vista_slider' %}">Listar items</a>
		{% endif %}
	</div>

	<div class="row " >		
		<h6><b>Labor social</b></h6>
		<p>{{carousel.encabezado}}</p>
		<div class="carousel">
			{% for c in imagenes %}
				<a class="carousel-item "><img class="z-depth-2 " src="/media/{{c.imagen}}"></a>
			{% endfor %}
		</div>
		{% if user.is_authenticated %}
			<a href="/edit/labor/">Editar</a>
		{% endif%}
	</div>
{% endblock %}


