{% extends 'base.html' %}

{%block title%}
	Productos
{% endblock %}

{%block content%}
	
	<div class="row">
		<div class="col s4">
			<a href="{% url 'vista_agregar_producto' %}">Nuevo Producto</a>
		</div>
		<br>
		{% if product %}
			{%for p in product %}

				<div class="col s12 m6">
					
					<h5>{{p.nombre}} </h5> 
					<h6> <b>Descripcion:</b> </h6>					
					<h6>{{p.descrip_aux}}

					<a class=" modal-trigger" href="#{{p.id}}">Ver mas...</a>	</h6>

					<div class="row">
						<div class="col s6 m6">
							<img src="/media/{{p.imagen}}" width="240px" height="150px">
						</div>
						<div class="col s6 m6">
							<img src="/media/{{p.imagen2}}" width="240px" height="150px">
						</div>
					</div>
					<a href="/edit/product/{{p.id}}">Editar</a>
					
		      	</div>

			{% endfor %}
		{% endif %}
	</div>
	{% for p in product %}
		<div id="{{p.id}}" class="modal">
		    <div class="modal-content">
		      	<h4>{{p.nombre}}</h4>
		      	<p>{{p.descripcion}}</p>
		    </div>
		    <div class="modal-footer">
		    	<div class="col s6 m4">
					<img src="/media/{{p.imagen}}" width="300px" height="200px">
					<br>
					<h6><b>Precio: {{p.precio}} Pesos<b></h6>
				</div>
				<div class="col s6 m4">
					<img src="/media/{{p.imagen2}}" width="300px" height="200px">
				</div>
				<div class="col m4 imagen">
					<img src="/media/{{p.imagen3}}" width="300px" height="200px">
					
				</div>
				
		    </div>
		</div>
	{% endfor %}
{%endblock %}